<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osaka Tokyo Weather</title>
    <style>
        body {
            background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            padding: 10px;
            text-align: center;
        }

        .title {
            color: #0066ff;
            grid-column: 1/3;
            grid-row: 1;
        }

        .time {
            grid-column: 1/3;
            grid-row: 3;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="grid-container">
            <div class="title">
                <h1>Osaka Tokyo Weather</h1>
            </div>
            <div class="osaka">
                <h2>大阪</h2>
                <p>
                    <%= osaka["title"] %>
                </p>
                <img src='<%= osaka["url"] %>' alt="Weather Image">
            </div>
            <div class="tokyo">
                <h2>東京</h2>
                <p>
                    <%= tokyo["title"] %>
                </p>
                <img src='<%= osaka["url"] %>' alt="Weather Image">
            </div>
            <div class="time">
                <p>最終更新時刻： <%= new Date().toLocaleString("ja-JP", { timeZone: "Asia/Tokyo" }) %>
                </p>
            </div>
        </div>

</body>

</html>