<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osaka Tokyo Weather</title>
    <link rel="icon" href="./icon.png" type="image/png">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <!-- コンテナ -->
    <div class="container <%= timeClass %>">
        <!-- グリッドレイアウト -->
        <div class="grid-container">
            <!-- タイトル -->
            <div class="title">
                <h1>Osaka Tokyo Weather</h1>
            </div>
            <!-- 大阪 -->
            <div class="osaka">
                <h2>大阪</h2>
                <p>
                    <%= osaka["title"] %>
                </p>
                <img src='<%= osaka["url"] %>' alt="Weather Image">
            </div>
            <!-- 東京 -->
            <div class="tokyo">
                <h2>東京</h2>
                <p>
                    <%= tokyo["title"] %>
                </p>
                <img src='<%= tokyo["url"] %>' alt="Weather Image">
            </div>
            <!-- 更新時間 -->
            <div class="time">
                <p>最終更新時刻： <%= new Date().toLocaleString("ja-JP", { timeZone: "Asia/Tokyo" }) %>
                </p>
            </div>
        </div>
</body>

</html>